.booking-form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  input,
  textarea {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: 1px solid #ddd;
    font-size: 14px;
  }

  textarea {
    min-height: 120px;
    resize: none;
  }
}
